
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Drivers" verbose="1" >
<!--    <parameter name="browser" value="chrome"></parameter>-->
 <!--   <test name="DriversSetup" >
        <classes>

            <class name="Dirvers.DriverSetup"/>
           &lt;!&ndash; <class name="com.first.example.demoTwo"/>
            <class name="com.second.example.demoThree"/>
            &ndash;&gt;
        </classes>
    </test>-->

<!--    <test name="Dashboard">
        <classes>
            &lt;!&ndash;//<class name="run.LeadsFromTest"/>&ndash;&gt;
            <class name="Forms.DashBoard"/>
        </classes>
    </test>-->

    <test name="CheckUrl">
        <classes>
            <!--//<class name="run.LeadsFromTest"/>-->
            <class name="run.OverallUrlCheckUpTest"/>
        </classes>
    </test>
</suite>